## Fill in real values and rename this file to .env before
## running integration tests on your machine.

## This should be your personal API key. These will get picked up
## and used any time you run integration tests.
##
## This key is also read and used to setup the pc client instance
## when running "uv run repl". This makes it easy to do
## one-off manual testing.
PINECONE_API_KEY=''

## If you set this variable, you can also use the pcci client instance
## when running "uv run repl" in order to do cleanup/management
## on the project used from CI.
PINECONE_API_KEY_CI_TESTING=''

## These headers get picked up and attached to every request.
##
## The x-environment header is used to route requests to preprod. The value needs to be
## a JSON string so it can be properly stored and read from an env var.
PINECONE_ADDITIONAL_HEADERS='{"sdk-test-suite": "pinecone-python-client", "x-environment": "preprod-aws-0"}'
