[tool.black]
line-length = 120
target-version = ['py38']
include = '\.pyi?$'
exclude = '''

(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
  | foo.py           # also separately exclude a file named foo.py in
                     # the root of the project
)
'''

[tool.poetry]
name = "pinecone-client"
version = "2.2.4"
packages = [
    { include="pinecone", from="." },
]
description = "Pinecone client and SDK"
authors = ["Pinecone Systems, Inc. <support@pinecone.io>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://www.pinecone.io"
documentation = "https://pinecone.io/docs"
keywords = ["Pinecone", "vector", "database", "cloud"]
classifiers=[
        "License :: OSI Approved :: Apache Software License",
        "Development Status :: 5 - Production/Stable",
        "Intended Audience :: Developers",
        "Intended Audience :: Information Technology",
        "Intended Audience :: Science/Research",
        "Intended Audience :: System Administrators",
        "Operating System :: OS Independent",
        "Programming Language :: Python :: 3.8",
        "Programming Language :: Python :: 3.9",
        "Programming Language :: Python :: 3.10",
        "Programming Language :: Python :: 3.11",
        "Topic :: Database",
        "Topic :: Software Development",
        "Topic :: Software Development :: Libraries",
        "Topic :: Software Development :: Libraries :: Application Frameworks",
        "Topic :: Software Development :: Libraries :: Python Modules"
]

[tool.poetry.dependencies]
python = ">=3.8,<4.0"
requests = "^2.31.0"
pyyaml = ">=5.4"
loguru = "0.5.0"
typing-extensions = ">=3.7.4"
dnspython = ">=2.0.0"
python-dateutil = ">=2.5.3"
urllib3 = ">=1.21.1"
tqdm = ">=4.64.1"
numpy = ">=1.22.0"
grpcio = ">=1.44.0"
grpc-gateway-protoc-gen-openapiv2 = "0.1.0"
googleapis-common-protos = ">=1.53.0"
lz4 = ">=3.1.3"
protobuf = "~=3.20.0"

[tool.poetry.group.dev.dependencies]
pdoc = "^14.1.0"
pytest = "6.2.4"
pytest-asyncio = "0.15.1"
pytest-cov = "2.10.1"
pytest-mock = "3.6.1"
pytest-timeout = "1.4.2"
urllib3_mock = "0.3.3"
responses = ">=0.8.1"
pandas = ">=1.3.5"

# Poetry's concept of extras is what allows us to separate the gRPC dependencies, 
# which will only be installed if you run `poetry install --extras "grpc"`,
# from the base dependencies. 
#
# Note that Poetry expects the dependencies defined in either tool.poetry.dependencies 
# or tool.poetry.dev-dependencies, but they're only referenced by name in the grpc entry under 
# tool.poetry.extras
[tool.poetry.extras]
grpc = ["grpcio", "grpc-gateway-protoc-gen-openapiv2", "googleapis-common-protos", "lz4", "protobuf"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
