[project]
name = "pinecone"
version = "8.0.0"
description = "Pinecone client and SDK"
readme = "README.md"
requires-python = ">=3.10"
license = { text = "Apache-2.0" }
authors = [
    { name = "Pinecone Systems, Inc.", email = "support@pinecone.io" }
]
keywords = ["Pinecone", "vector", "database", "cloud"]
classifiers = [
    "License :: OSI Approved :: Apache Software License",
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: Information Technology",
    "Intended Audience :: Science/Research",
    "Intended Audience :: System Administrators",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Topic :: Database",
    "Topic :: Software Development",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Libraries :: Application Frameworks",
    "Topic :: Software Development :: Libraries :: Python Modules"
]
dependencies = [
    "typing-extensions>=3.7.4",
    "certifi>=2019.11.17",
    "orjson>=3.0.0",
    "pinecone-plugin-interface>=0.0.7,<0.1.0",
    "python-dateutil>=2.5.3",
    "pinecone-plugin-assistant>=3.0.1,<4.0.0",
    "urllib3>=1.26.0; python_version<'3.12'",
    "urllib3>=1.26.5; python_version>='3.12'",
]

[project.optional-dependencies]
grpc = [
    "grpcio>=1.44.0,<1.59.0; python_version<'3.11'",
    "grpcio>=1.59.0,<1.68.0; python_version>='3.11' and python_version<'3.13'",
    "grpcio>=1.68.0; python_version>='3.13'",
    "googleapis-common-protos>=1.66.0",
    "lz4>=3.1.3",
    "protobuf>=5.29.5,<6.0.0",
    "protoc-gen-openapiv2>=0.0.1,<0.1.0",
]
asyncio = [
    "aiohttp>=3.9.0",
    "aiohttp-retry>=2.9.1,<3.0.0",
]
types = [
    "mypy>=1.6.1,<2.0.0",
    "types-urllib3>=1.26.25.14,<1.27.0.0",
    "grpc-stubs>=1.53.0.3,<1.54.0.0",
    "pandas-stubs>=2.1.1.230928,<2.2.0.0",
    "types-tqdm>=4.66.0.3,<4.67.0.0",
    "types-protobuf>=4.24.0.4,<4.25.0.0",
    "types-python-dateutil>=2.9.0.20241003",
]
dev = [
    "pre-commit>=3.0.0,<4.0.0",
    "numpy>=1.22",
    "pandas>=1.3.5,<2.2.3; python_version<'3.13'",
    "pandas>=2.2.3; python_version>='3.13'",
    "pytest==8.2.0",
    "pytest-asyncio>=0.25.2,<0.26.0",
    "pytest-cov==2.10.1",
    "pytest-mock==3.6.1",
    "pytest-retry>=1.7.0,<2.0.0",
    "pytest-timeout==2.2.0",
    "pytest-benchmark==5.0.0; python_version<'4.0'",
    "urllib3_mock==0.3.3",
    "responses>=0.8.1",
    "ruff>=0.9.3,<0.10.0",
    "beautifulsoup4>=4.13.3,<5.0.0",
    "vprof>=0.38,<0.39",
    "tuna>=0.5.11,<0.6.0",
    "python-dotenv>=1.1.0,<2.0.0",
    "sphinx>=7.4.7,<8.0.0; python_version<'3.11'",
    "sphinx>=8.2.3,<9.0.0; python_version>='3.11'",
    "myst-parser>=4.0.1,<5.0.0",
]

[project.scripts]
repl = "scripts.repl:main"

[project.urls]
Homepage = "https://www.pinecone.io"
Documentation = "https://pinecone.io/docs"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["pinecone"]
include = ["pinecone/py.typed"]

[tool.pytest.ini_options]
asyncio_mode = "strict"
addopts = "-s -vv --log-cli-level=DEBUG"

[tool.ruff]
exclude = [
    ".eggs",
    ".git",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".pytest_cache",
    ".ruff_cache",
    ".vscode",
    "_build",
    "build",
    "dist",
    "pinecone/core",
    "pinecone/core_ea",
]

line-length = 100
indent-width = 4
target-version = "8.0.0"

[tool.ruff.lint]
# Enable Pyflakes (`F`) and a subset of the pycodestyle (`E`)  codes by default.
# Unlike Flake8, Ruff doesn't enable pycodestyle warnings (`W`) or
# McCabe complexity (`C901`) by default.
select = ["E4", "E7", "E9", "F"]
ignore = []

# Allow fix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = true
line-ending = "auto"
docstring-code-format = false
docstring-code-line-length = "dynamic"

[tool.ruff.lint.per-file-ignores]
# F403 Allow star imports
"__init__.py" = ["F403", "F405"]

# E402 Allow module level import not at top of file so
#      tqdm warnings can be disabled ahead of loading any code
"pinecone/__init__.py" = ["E402"]

# E712 Allow == comparison to True/False
"tests/**" = ["E712"]

[tool.black]
line-length = 100
target-version = ["py310"]
