[tool.poetry]
name = "pinecone"
version = "5.4.1"
packages = [
    { include="pinecone", from="." },
]
description = "Pinecone client and SDK"
authors = ["Pinecone Systems, Inc. <support@pinecone.io>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://www.pinecone.io"
documentation = "https://pinecone.io/docs"
keywords = ["Pinecone", "vector", "database", "cloud"]
classifiers=[
        "License :: OSI Approved :: Apache Software License",
        "Development Status :: 5 - Production/Stable",
        "Intended Audience :: Developers",
        "Intended Audience :: Information Technology",
        "Intended Audience :: Science/Research",
        "Intended Audience :: System Administrators",
        "Operating System :: OS Independent",
        "Programming Language :: Python :: 3.8",
        "Programming Language :: Python :: 3.9",
        "Programming Language :: Python :: 3.10",
        "Programming Language :: Python :: 3.11",
        "Programming Language :: Python :: 3.12",
        "Topic :: Database",
        "Topic :: Software Development",
        "Topic :: Software Development :: Libraries",
        "Topic :: Software Development :: Libraries :: Application Frameworks",
        "Topic :: Software Development :: Libraries :: Python Modules"
]

[tool.poetry.dependencies]
python = "^3.8"
typing-extensions = ">=3.7.4"
urllib3 = [
  { version = ">=1.26.0", python = ">=3.8,<3.12" },
  { version = ">=1.26.5", python = "^3.12" }
]
tqdm = ">=4.64.1"
# certifi does not follow semver. Should always be
# on latest but setting a broad range to have maximum
# compatibility with libraries that may pin version.
certifi = ">=2019.11.17"
grpcio = [
  { version = ">=1.44.0", optional = true, python = "^3.8,<3.11" },
  { version = ">=1.59.0", optional = true, python = "^3.11" }
]
googleapis-common-protos = { version = ">=1.53.0", optional = true }
lz4 = { version = ">=3.1.3", optional = true }
protobuf = { version = "^4.25", optional = true }
protoc-gen-openapiv2 = {version = "^0.0.1", optional = true }
pinecone-plugin-interface = "^0.0.7"
pinecone-plugin-inference = ">=2.0.0, <4.0.0"
python-dateutil = ">=2.5.3"

[tool.poetry.group.types]
optional = true

[tool.poetry.group.types.dependencies]
mypy = "^1.6.1"
types-urllib3 = "^1.26.25.14"
grpc-stubs = "^1.53.0.3"
pandas-stubs = [
    {version = "^2.1.1.230928", python = ">=3.9"},
    {version = "^1.5.3.230321", python = ">=3.8,<3.9"}
]
types-tqdm = "^4.66.0.3"
types-protobuf = "^4.24.0.4"

[tool.poetry.group.dev.dependencies]
pre-commit = "^3.0.0"
numpy = [
  { version = ">=1.22", python = ">=3.9" },
  { version = ">=1.21", python = ">=3.8,<3.9" },
]
pandas = ">=1.3.5"
pdoc = "^14.1.0"
pytest = "8.0.0"
pytest-asyncio = "0.15.1"
pytest-cov = "2.10.1"
pytest-mock = "3.6.1"
pytest-timeout = "2.2.0"
pytest-benchmark = [
  { version = '5.0.0', python = ">=3.9,<4.0" }
]
urllib3_mock = "0.3.3"
responses = ">=0.8.1"
ddtrace = "^2.14.4"

[tool.poetry.extras]
grpc = ["grpcio", "googleapis-common-protos", "lz4", "protobuf", "protoc-gen-openapiv2"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
exclude = [
    ".eggs",
    ".git",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".pytest_cache",
    ".ruff_cache",
    ".vscode",
    "_build",
    "build",
    "dist",
    "pinecone/core",
    "pinecone/core_ea",
]

line-length = 100
indent-width = 4
target-version = "py38"

[tool.ruff.lint]
# Enable Pyflakes (`F`) and a subset of the pycodestyle (`E`)  codes by default.
# Unlike Flake8, Ruff doesn't enable pycodestyle warnings (`W`) or
# McCabe complexity (`C901`) by default.
select = ["E4", "E7", "E9", "F"]
ignore = []

# Allow fix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = true
line-ending = "auto"
docstring-code-format = false
docstring-code-line-length = "dynamic"

[tool.ruff.lint.per-file-ignores]
# F403 Allow star imports
# F401 allow imported but unused
"__init__.py" = ["F401", "F403"]

# E402 Allow module level import not at top of file so
#      tqdm warnings can be disabled ahead of loading any code
"pinecone/__init__.py" = ["E402"]

# E712 Allow == comparison to True/False
"tests/**" = ["E712"]
