requests==2.25.1
pyyaml==5.4
grpcio==1.37.1
grpcio-tools==1.37.1
grpc-gateway-protoc-gen-openapiv2==0.1.0
googleapis-common-protos==1.53.0
numpy>=1.18.5,<1.20.0
loguru==0.5.3
mypy_protobuf==1.23
lz4==3.1.0
networkx==2.5.1
pydot==1.4.1
graphviz==0.16
fire==0.3.1
typing-extensions==3.10.0.0
protobuf==3.13.0
sentry-sdk==1.1.0
tqdm~=4.60.0
dnspython==2.1.0
prometheus-client==0.9.0
dynaconf==3.1.4
# openapi generated client:
python_dateutil >= 2.5.3
setuptools >= 21.0.0
urllib3 >= 1.25.3