{
  "swagger": "2.0",
  "info": {
    "title": "Pinecone JSON API",
    "version": "version not set",
    "contact": {
      "name": "Pinecone.io Ops",
      "url": "https://pinecone.io",
      "email": "support@pinecone.io"
    }
  },
  "tags": [
    {
      "name": "VectorService"
    }
  ],
  "host": "example-service.beta.svc.pinecone.io",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/namespaces/list": {
      "get": {
        "summary": "The ListNamespaces operation returns the namespaces for which data exists in this\ndatabase.",
        "operationId": "VectorService_ListNamespaces",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/pineconeListNamespacesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "requestId",
            "description": "Unique id of the request.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uint64"
          }
        ],
        "tags": [
          "VectorService"
        ]
      }
    },
    "/query": {
      "get": {
        "summary": "The Query operation queries the database for the nearest stored vectors to one\nor more query vectors and returns their ids and/or values.",
        "operationId": "VectorService_Query",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/pineconeQueryResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "requestId",
            "description": "Unique id of the request.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uint64"
          },
          {
            "name": "requestDefaultNamespace",
            "description": "Default namespace to query if no namespace specified in QueryVector (default value \"\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "requestDefaultTopK",
            "description": "Number of results to return for each query.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "requestDefaultFilter",
            "description": "Default filter to apply if no filter specified in QueryVector (default value \"\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "includeData",
            "description": "Whether to include the vectors in response as well as ids.",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "includeMetadata",
            "description": "Whether to include the metadata in response as well as ids.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "VectorService"
        ]
      }
    },
    "/summarize": {
      "get": {
        "summary": "The Summarize operation returns summary statistics about the database contents.",
        "operationId": "VectorService_Summarize",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/pineconeSummarizeResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "requestId",
            "description": "Unique id of the request.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uint64"
          }
        ],
        "tags": [
          "VectorService"
        ]
      }
    },
    "/vectors/delete": {
      "delete": {
        "summary": "The Delete operation deletes a vector by id.",
        "operationId": "VectorService_Delete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/pineconeDeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "requestId",
            "description": "Unique id of the request.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uint64"
          },
          {
            "name": "ids",
            "description": "Vectors to delete.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "deleteAll",
            "description": "Indicates that all vectors in the index namespace should be deleted.",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "namespace",
            "description": "Namespace to delete vectors from applicable.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "VectorService"
        ]
      }
    },
    "/vectors/fetch": {
      "get": {
        "summary": "The FetchVectors operation returns a vector value by id.",
        "operationId": "VectorService_Fetch",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/pineconeFetchResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "requestId",
            "description": "Unique id of the request.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uint64"
          },
          {
            "name": "ids",
            "description": "Vector ids to fetch.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "namespace",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "VectorService"
        ]
      }
    },
    "/vectors/list": {
      "get": {
        "summary": "The List operation returns the vector IDs in this database.",
        "operationId": "VectorService_List",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/pineconeListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "requestId",
            "description": "Unique id of the request.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uint64"
          },
          {
            "name": "namespace",
            "description": "Namespace to list vectors of.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "VectorService"
        ]
      }
    },
    "/vectors/upsert": {
      "post": {
        "summary": "The Upsert operation is for uploading data (vector ids and values) to be indexed.\nNote: Most users are recommended to submit upserts via the StreamWrites operation instead.\nIf a new value is upserted for an existing vector id, it overwrites the previous value.",
        "operationId": "VectorService_Upsert",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/pineconeUpsertResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "tags": [
          "VectorService"
        ]
      }
    }
  },
  "definitions": {
    "QueryRequestQueryVector": {
      "type": "object",
      "properties": {
        "vector": {
          "$ref": "#/definitions/pineconeAnonymousVector"
        },
        "topK": {
          "type": "integer",
          "format": "int64"
        },
        "namespace": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        }
      }
    },
    "QueryResponseSingleQueryResults": {
      "type": "object",
      "properties": {
        "matches": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/pineconeScoredVector"
          }
        },
        "namespace": {
          "type": "string"
        }
      }
    },
    "googlerpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "pineconeAnonymousVector": {
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        }
      }
    },
    "pineconeDeleteResponse": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "format": "uint64",
          "title": "Unique id of the request"
        }
      },
      "title": "Response model for the Delete operation"
    },
    "pineconeDenseVector": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "metadata": {
          "type": "string"
        }
      }
    },
    "pineconeFetchResponse": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "format": "uint64",
          "title": "Unique id of the request"
        },
        "vectors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/pineconeDenseVector"
          },
          "title": "Fetched vectors"
        },
        "namespace": {
          "type": "string",
          "title": "The namespace of the vectors"
        }
      },
      "title": "Response model for the Fetch operation"
    },
    "pineconeListNamespacesResponse": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "format": "uint64",
          "title": "Unique id of the request"
        },
        "namespaces": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Namespaces that exist in the database"
        }
      },
      "title": "Request model for the ListNamespaces operation"
    },
    "pineconeListResponse": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "format": "uint64",
          "title": "Unique id of the request"
        },
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "namespace": {
          "type": "string"
        }
      },
      "title": "Response module for the List operation"
    },
    "pineconeQueryResponse": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "format": "uint64",
          "title": "Unique id of the request"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/QueryResponseSingleQueryResults"
          },
          "title": "Results of each query"
        }
      },
      "title": "Response model for the Query operation"
    },
    "pineconeScoredVector": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "score": {
          "type": "number",
          "format": "float"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "metadata": {
          "type": "string"
        }
      }
    },
    "pineconeSummarizeResponse": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "format": "uint64",
          "title": "Unique id of the request"
        },
        "indexSize": {
          "type": "string",
          "format": "uint64",
          "title": "Size of a stateful function (Index)"
        },
        "dimension": {
          "type": "integer",
          "format": "int64",
          "title": "Dimension of the indexed vectors"
        }
      },
      "title": "Response model for the Summarize operation"
    },
    "pineconeUpsertResponse": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "format": "uint64",
          "title": "Unique id of the request"
        }
      },
      "title": "Response model for the Upsert operation"
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "typeUrl": {
          "type": "string"
        },
        "value": {
          "type": "string",
          "format": "byte"
        }
      }
    }
  },
  "securityDefinitions": {
    "ApiKeyAuth": {
      "type": "apiKey",
      "name": "api-key",
      "in": "header"
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "externalDocs": {
    "description": "More Pinecone.io API docs",
    "url": "https://www.pinecone.io/docs"
  }
}
