body,
div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6,
div.admonition p.admonition-title {
    font-family: "Inter", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.blurb {
    font-size: 16px;
}

p.admonition-title:after {
    content: "";
}

div.code-block-caption {
    background-color: #EEE;
    border-bottom: 1px solid #CCC;
    font-size: 17px;
    padding: 10px;
}

dt:target {
    background-color: #E8E8E8;
}

.highlight {
    background-color: #F8F8F8;
}
