name: PyPI Prerelease

on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'Git ref to build (branch name or SHA)'
        required: true
        type: string
        default: 'main' 
      releaseLevel:
        description: 'Release level'
        required: true
        type: choice
        default: 'patch'
        options:
          - 'patch' # bug fixes
          - 'minor' # new features, backwards compatible
          - 'major' # breaking changes
      prereleaseSuffix:
        description: 'Suffix to add onto the new version number in order to mark it as a prerelease'
        required: true
        type: string
        default: 'rc1'

jobs:
  testing:
    uses: './.github/workflows/testing.yaml'

  pypi:
    uses: './.github/workflows/publish-to-pypi.yaml'
    needs: testing
    with:
      isPrerelease: true
      ref: ${{ inputs.ref }}
      releaseLevel: ${{ inputs.releaseLevel }}
      prereleaseSuffix: ${{ inputs.prereleaseSuffix }}
      TWINE_REPOSITORY: 'testpypi'
      PYPI_USERNAME: ${{ secrets.TEST_PYPI_USERNAME }}
      PYPI_PASSWORD: ${{ secrets.TEST_PYPI_PASSWORD }}
    secrets: inherit