name: Testing (main)

on:
  push:
    branches:
      - main
      - release-candidate/*
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - '*.rst'
      - '*.txt'
      - '*.html'
      - '*.css'
      - '*.js'
      - '*.png'
      - '*.jpg'
      - '*.jpeg'
      - '*.gif'
      - '*.svg'
      - '*.example'
  workflow_dispatch: {}

permissions: {}

concurrency:
  group: 'ci-${{ github.workflow }}-${{ github.ref }}'
  cancel-in-progress: true

jobs:
  linting:
    uses: './.github/workflows/testing-lint.yaml'

  unit-tests:
    uses: './.github/workflows/testing-unit.yaml'
    secrets: inherit
    with:
      python_versions_json: '["3.10", "3.11", "3.12", "3.13"]'

  create-project:
    uses: './.github/workflows/project-setup.yaml'
    secrets: inherit

  integration-tests:
    if: always() && (needs.create-project.result == 'success')
    uses: './.github/workflows/testing-integration.yaml'
    secrets: inherit
    needs:
      - create-project
    with:
      encrypted_project_api_key: ${{ needs.create-project.outputs.encrypted_project_api_key }}
      python_versions_json: '["3.10", "3.13"]'
      dense_index_host: ${{ needs.create-project.outputs.index_host_dense }}
      sparse_index_host: ${{ needs.create-project.outputs.index_host_sparse }}

  dependency-tests:
    uses: './.github/workflows/testing-dependency.yaml'
    secrets: inherit
    needs:
      - create-project
    with:
      encrypted_project_api_key: ${{ needs.create-project.outputs.encrypted_project_api_key }}

  install-tests:
    uses: './.github/workflows/testing-install.yaml'
    secrets: inherit

  cleanup-project:
    if: ${{ always() }}
    needs:
      - create-project
      - integration-tests
      - dependency-tests
    uses: './.github/workflows/project-cleanup.yaml'
    secrets: inherit
    with:
      project_id: ${{ needs.create-project.outputs.project_id }}
      encrypted_project_api_key: ${{ needs.create-project.outputs.encrypted_project_api_key }}

  package:
    name: Check packaging
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.13']
    steps:
      - uses: actions/checkout@v4
      - name: Setup uv
        uses: ./.github/actions/setup-uv
        with:
          python_version: ${{ matrix.python-version }}
      - name: Package
        run: uv build

  build-docs:
    name: Build docs with pdoc
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build docs with pdoc
        uses: './.github/actions/build-docs'
        with:
          python-version: 3.11
