name: Testing (PR)

on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - '*.rst'
      - '*.txt'
      - '*.html'
      - '*.css'
      - '*.js'
      - '*.png'
      - '*.jpg'
      - '*.jpeg'
      - '*.gif'
      - '*.svg'
      - '*.example'
  workflow_dispatch:
    inputs:
      run_all_tests:
        description: 'Run all integration tests regardless of changes'
        required: false
        default: 'false'
        type: boolean

permissions: {}

concurrency:
  group: 'ci-${{ github.workflow }}-${{ github.ref }}'
  cancel-in-progress: true

jobs:
  linting:
    uses: './.github/workflows/testing-lint.yaml'

  unit-tests:
    uses: './.github/workflows/testing-unit.yaml'
    secrets: inherit
    with:
      python_versions_json: '["3.10"]'

  create-project:
    uses: './.github/workflows/project-setup.yaml'
    secrets: inherit

  integration-tests:
    if: always() && (needs.unit-tests.result == 'success' && needs.create-project.result == 'success')
    uses: './.github/workflows/testing-integration.yaml'
    secrets: inherit
    needs:
      - create-project
    with:
      encrypted_project_api_key: ${{ needs.create-project.outputs.encrypted_project_api_key }}
      python_versions_json: '["3.10"]'
      dense_index_host: ${{ needs.create-project.outputs.index_host_dense }}
      sparse_index_host: ${{ needs.create-project.outputs.index_host_sparse }}

  cleanup-project:
    if: ${{ always() }}
    needs:
      - create-project
      - integration-tests
    uses: './.github/workflows/project-cleanup.yaml'
    secrets: inherit
    with:
      project_id: ${{ needs.create-project.outputs.project_id }}
      encrypted_project_api_key: ${{ needs.create-project.outputs.encrypted_project_api_key }}
