name: Pull Request

on:
  pull_request: {}
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  unit-tests:
    uses: './.github/workflows/testing-unit.yaml'
    secrets: inherit
  integration-tests-data:
      uses: './.github/workflows/testing-integration-data-plane.yaml'
      secrets: inherit
  
  integration-tests-pod:
    uses: './.github/workflows/testing-integration-control-plane-pod.yaml'
    strategy:
      max-parallel: 1
      matrix:
        environment:
          - 'us-east1-gcp'
          - 'us-east4-gcp'
    secrets:
      PINECONE_API_KEY: ${{ secrets.PINECONE_API_KEY }}
    with:
      PINECONE_CONTROLLER_HOST: 'https://api.pinecone.io'
      additional-headers-json: '{}'
      environment: ${{ matrix.environment }}

  integration-tests-serverless:
    uses: './.github/workflows/testing-integration-control-plane-serverless.yaml'
    secrets:
      PINECONE_API_KEY: ${{ secrets.PINECONE_API_KEY }}
    with:
      PINECONE_CONTROLLER_HOST: 'https://api.pinecone.io'
      additional-headers-json: '{}'
      cloud: 'aws'
      region: 'us-west-2'

  dependency-tests:
    uses: './.github/workflows/testing-dependency.yaml'
    secrets: inherit
  package:
    name: Check packaging
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9, '3.10', 3.11]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup Poetry
        uses: ./.github/actions/setup-poetry
      - name: Package
        run: poetry build
  
  build-docs:
    name: Build docs with pdoc
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build docs with pdoc
        uses: './.github/actions/build-docs'
        with:
          python-version: 3.11