name: Pull Request

on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - '*.rst'
      - '*.txt'
      - '*.html'
      - '*.css'
      - '*.js'
      - '*.png'
      - '*.jpg'
      - '*.jpeg'
      - '*.gif'
      - '*.svg'
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - '*.rst'
      - '*.txt'
      - '*.html'
      - '*.css'
      - '*.js'
      - '*.png'
      - '*.jpg'
      - '*.jpeg'
      - '*.gif'
      - '*.svg'
  workflow_dispatch: {}

concurrency:
  group: 'ci-${{ github.workflow }}-${{ github.ref }}'
  cancel-in-progress: true

jobs:
  linting:
    uses: './.github/workflows/lint.yaml'

  unit-tests:
    uses: './.github/workflows/testing-unit.yaml'
    secrets: inherit

  integration-tests:
      uses: './.github/workflows/testing-integration.yaml'
      secrets: inherit
      needs: unit-tests

  dependency-tests:
    uses: './.github/workflows/testing-dependency.yaml'
    secrets: inherit
    needs: unit-tests

  package:
    name: Check packaging
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9, 3.13]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup Poetry
        uses: ./.github/actions/setup-poetry
      - name: Package
        run: poetry build

  build-docs:
    name: Build docs with pdoc
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build docs with pdoc
        uses: './.github/actions/build-docs'
        with:
          python-version: 3.11
