name: Project Setup

on:
  workflow_call:
    outputs:
      encrypted_project_api_key:
        description: 'The encrypted project api key'
        value: ${{ jobs.create-project-job.outputs.encrypted_project_api_key }}
      project_id:
        description: 'The project id'
        value: ${{ jobs.create-project-job.outputs.project_id }}

      # Shared fixtures
      index_host_dense:
        description: 'The host of the dense index'
        value: ${{ jobs.create-project-job.outputs.index_host_dense }}
      index_host_sparse:
        description: 'The host of the sparse index'
        value: ${{ jobs.create-project-job.outputs.index_host_sparse }}

permissions: {}

jobs:
  create-project-job:
    runs-on: ubuntu-latest
    outputs:
      encrypted_project_api_key: ${{ steps.create-project-step.outputs.encrypted_project_api_key }}
      project_id: ${{ steps.create-project-step.outputs.project_id }}
      index_host_dense: ${{ steps.create-index-dense.outputs.index_host }}
      index_host_sparse: ${{ steps.create-index-sparse.outputs.index_host }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-poetry
        with:
          python_version: '3.10'
      - uses: ./.github/actions/project-create
        id: create-project-step
        with:
          PINECONE_SERVICE_ACCOUNT_CLIENT_ID: '${{ secrets.PINECONE_SERVICE_ACCOUNT_CLIENT_ID }}'
          PINECONE_SERVICE_ACCOUNT_CLIENT_SECRET: '${{ secrets.PINECONE_SERVICE_ACCOUNT_CLIENT_SECRET }}'
          FERNET_ENCRYPTION_KEY: '${{ secrets.FERNET_ENCRYPTION_KEY }}'
          api_version: '2025-04'
          name_prefix: 'python'
          max_pods: 10

      - name: Decrypt Pinecone API key
        id: decrypt-api-key
        uses: ./.github/actions/secret-decrypt
        with:
          encrypted_secret: ${{ steps.create-project-step.outputs.encrypted_project_api_key }}
          encryption_key: ${{ secrets.FERNET_ENCRYPTION_KEY }}

      - name: Create dense index
        id: create-index-dense
        uses: ./.github/actions/index-create
        with:
          PINECONE_API_KEY: ${{ steps.decrypt-api-key.outputs.decrypted_secret }}
          PINECONE_ADDITIONAL_HEADERS: '{"sdk-test-suite": "pinecone-python-client"}'
          name_prefix: 'shared'
          region: 'us-central1'
          cloud: 'gcp'
          dimension: '2'
          metric: 'cosine'
          vector_type: 'dense'

      - name: Create sparse index
        id: create-index-sparse
        uses: ./.github/actions/index-create
        with:
          PINECONE_API_KEY: ${{ steps.decrypt-api-key.outputs.decrypted_secret }}
          PINECONE_ADDITIONAL_HEADERS: '{"sdk-test-suite": "pinecone-python-client"}'
          name_prefix: 'shared'
          region: 'us-central1'
          cloud: 'gcp'
          vector_type: 'sparse'
          metric: 'dotproduct'
