name: PyPI Release

on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'Git ref to build (branch name or SHA)'
        required: true
        type: string
        default: 'main' 
      releaseLevel:
        description: 'Release level'
        required: true
        type: choice
        default: 'patch'
        options:
          - 'patch' # bug fixes
          - 'minor' # new features, backwards compatible
          - 'major' # breaking changes

jobs:
  testing:
    uses: './.github/workflows/testing.yaml'

  pypi:
    uses: './.github/workflows/publish-to-pypi.yaml'
    needs: testing
    with:
      isPrerelease: false
      ref: ${{ inputs.ref }}
      releaseLevel: ${{ inputs.releaseLevel }}
      TWINE_REPOSITORY: 'pypi'
      prereleaseSuffix: ''
    secrets:
      PYPI_USERNAME: ${{ secrets.PROD_PYPI_USERNAME }}
      PYPI_PASSWORD: ${{ secrets.PROD_PYPI_PASSWORD }}