name: Dependency Testing

on:
  workflow_call: {}

jobs:
  dependency-matrix-setup:
    name: Deps setup
    runs-on: ubuntu-latest
    outputs:
      index_name: ${{ steps.setup-index.outputs.index_name }}
    steps:
      - uses: actions/checkout@v4
      - name: Create index
        id: setup-index
        uses: ./.github/actions/create-index
        timeout-minutes: 5
        with:
          name_prefix: depstest-${{ github.run_number }}
          dimension: 2
          PINECONE_API_KEY: ${{ secrets.PINECONE_API_KEY }}

  # dependency-matrix-grpc:
  #   name: Deps (GRPC)
  #   needs: dependency-matrix-setup
  #   runs-on: ubuntu-latest
  #   strategy:
  #     max-parallel: 10
  #     fail-fast: false
  #     matrix:
  #       python_version:
  #         - 3.9
  #         - "3.10"
  #       grpcio_version:
  #         - 1.44.0
  #         # - 1.46.5
  #         # - 1.47.5
  #         # - 1.48.2
  #         # - 1.49.1
  #         - 1.50.0
  #         # - 1.51.3
  #         # - 1.53.2
  #         # - 1.54.3
  #         # - 1.55.3
  #         - 1.56.2
  #         # - 1.57.0
  #         # - 1.58.0
  #         # - 1.59.3
  #         - 1.60.0
  #       lz4_version:
  #         - 3.1.3
  #         # - 3.1.10
  #         - 4.0.0
  #         # - 4.0.1
  #         # - 4.1.0
  #         - 4.3.3
  #       protobuf_version:
  #         - 5.29.1
  #       protoc-gen-openapiv2:
  #         - 0.0.1
  #       googleapis_common_protos_version:
  #         - 1.66.0
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: ./.github/actions/test-dependency-grpc
  #       with:
  #         python_version: '${{ matrix.python_version }}'
  #         index_name: '${{ needs.dependency-matrix-setup.outputs.index_name }}'
  #         PINECONE_API_KEY: '${{ secrets.PINECONE_API_KEY }}'
  #         grpcio_version: '${{ matrix.grpcio_version }}'
  #         lz4_version: '${{ matrix.lz4_version }}'
  #         protobuf_version: '${{ matrix.protobuf_version }}'
  #         googleapis_common_protos_version: '${{ matrix.googleapis_common_protos_version }}'

  # dependency-matrix-grpc-312:
  #   name: Deps (GRPC)
  #   needs: dependency-matrix-setup
  #   runs-on: ubuntu-latest
  #   strategy:
  #     max-parallel: 10
  #     fail-fast: false
  #     matrix:
  #       python_version:
  #         - 3.11
  #         - 3.12
  #       grpcio_version:
  #         - 1.59.3
  #         - 1.60.0
  #       lz4_version:
  #         - 3.1.3
  #         - 4.3.3
  #       protobuf_version:
  #         - 5.29.1
  #       protoc-gen-openapiv2:
  #         - 0.0.1
  #       googleapis_common_protos_version:
  #         - 1.66.0
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: ./.github/actions/test-dependency-grpc
  #       with:
  #         python_version: '${{ matrix.python_version }}'
  #         index_name: '${{ needs.dependency-matrix-setup.outputs.index_name }}'
  #         PINECONE_API_KEY: '${{ secrets.PINECONE_API_KEY }}'
  #         grpcio_version: '${{ matrix.grpcio_version }}'
  #         lz4_version: '${{ matrix.lz4_version }}'
  #         protobuf_version: '${{ matrix.protobuf_version }}'
  #         googleapis_common_protos_version: '${{ matrix.googleapis_common_protos_version }}'


  dependency-matrix-grpc-313:
    name: Deps (GRPC)
    needs: dependency-matrix-setup
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 10
      fail-fast: false
      matrix:
        python_version:
          - 3.13
        grpcio_version:
          - 1.59.3
          - 1.60.0
        lz4_version:
          - 3.1.3
          - 4.3.3
        protobuf_version:
          - 5.29.1
        protoc-gen-openapiv2:
          - 0.0.1
        googleapis_common_protos_version:
          - 1.66.0
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/test-dependency-grpc
        with:
          python_version: '${{ matrix.python_version }}'
          index_name: '${{ needs.dependency-matrix-setup.outputs.index_name }}'
          PINECONE_API_KEY: '${{ secrets.PINECONE_API_KEY }}'
          grpcio_version: '${{ matrix.grpcio_version }}'
          lz4_version: '${{ matrix.lz4_version }}'
          protobuf_version: '${{ matrix.protobuf_version }}'
          googleapis_common_protos_version: '${{ matrix.googleapis_common_protos_version }}'


  # dependency-matrix-rest:
  #   name: Deps (REST)
  #   runs-on: ubuntu-latest
  #   needs: dependency-matrix-setup
  #   strategy:
  #     max-parallel: 10
  #     fail-fast: false
  #     matrix:
  #       python_version:
  #         - 3.9
  #         - 3.11
  #       urllib3_version:
  #         - 1.26.0
  #         - 1.26.18
  #         - 2.0.2
  #         - 2.2.1
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: ./.github/actions/test-dependency-rest
  #       with:
  #         python_version: '${{ matrix.python_version }}'
  #         index_name: '${{ needs.dependency-matrix-setup.outputs.index_name }}'
  #         PINECONE_API_KEY: '${{ secrets.PINECONE_API_KEY }}'
  #         urllib3_version: '${{ matrix.urllib3_version }}'

  # dependency-matrix-rest-312:
  #   name: Deps (REST)
  #   runs-on: ubuntu-latest
  #   needs: dependency-matrix-setup
  #   strategy:
  #     max-parallel: 10
  #     fail-fast: false
  #     matrix:
  #       python_version:
  #         - 3.12
  #       urllib3_version:
  #         - 1.26.5
  #         - 1.26.18
  #         - 2.0.2
  #         - 2.2.1
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: ./.github/actions/test-dependency-rest
  #       with:
  #         python_version: '${{ matrix.python_version }}'
  #         index_name: '${{ needs.dependency-matrix-setup.outputs.index_name }}'
  #         PINECONE_API_KEY: '${{ secrets.PINECONE_API_KEY }}'
  #         urllib3_version: '${{ matrix.urllib3_version }}'

  dependency-matrix-rest-313:
    name: Deps (REST)
    runs-on: ubuntu-latest
    needs: dependency-matrix-setup
    strategy:
      max-parallel: 10
      fail-fast: false
      matrix:
        python_version:
          - 3.13
        urllib3_version:
          - 1.26.5
          - 1.26.18
          - 2.0.2
          - 2.2.1
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/test-dependency-rest
        with:
          python_version: '${{ matrix.python_version }}'
          index_name: '${{ needs.dependency-matrix-setup.outputs.index_name }}'
          PINECONE_API_KEY: '${{ secrets.PINECONE_API_KEY }}'
          urllib3_version: '${{ matrix.urllib3_version }}'


  deps-cleanup:
    name: Deps cleanup
    runs-on: ubuntu-latest
    needs:
      - dependency-matrix-setup
      # - dependency-matrix-grpc
      # - dependency-matrix-grpc-312
      - dependency-matrix-grpc-313
      # - dependency-matrix-rest
      # - dependency-matrix-rest-312
      - dependency-matrix-rest-313
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/delete-index
        with:
          index_name: '${{ needs.dependency-matrix-setup.outputs.index_name }}'
          PINECONE_API_KEY: '${{ secrets.PINECONE_API_KEY }}'
