name: "Integration Tests"
on:
  workflow_call:
    inputs:
      encrypted_project_api_key:
        required: true
        type: string
      python_versions_json:
        required: true
        type: string
      dense_index_host:
        required: true
        type: string
        description: 'The host of a dense index for db data tests'
      sparse_index_host:
        required: true
        type: string
        description: 'The host of the sparse index for db data tests'

permissions: {}

jobs:
  rest_sync:
    name: rest ${{ matrix.python_version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python_version: ${{ fromJson(inputs.python_versions_json) }}
        split_group_to_run: [1, 2, 3, 4, 5, 6, 7, 8]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Poetry
        uses: ./.github/actions/setup-poetry
        with:
          include_asyncio: false
          include_grpc: false
          python_version: '${{ matrix.python_version }}'
      - uses: ./.github/actions/run-integration-test
        with:
          encrypted_project_api_key: '${{ inputs.encrypted_project_api_key }}'
          encryption_key: '${{ secrets.FERNET_ENCRYPTION_KEY }}'
          test_suite: 'tests/integration/rest_sync'
          total_num_split_groups: 8
          durations_file: '.durations_rest_sync'
          split_group_to_run: ${{ matrix.split_group_to_run }}
          PINECONE_CLIENT_ID: ${{ secrets.PINECONE_SERVICE_ACCOUNT_CLIENT_ID }}
          PINECONE_CLIENT_SECRET: ${{ secrets.PINECONE_SERVICE_ACCOUNT_CLIENT_SECRET }}
          INDEX_HOST_DENSE: '${{ inputs.dense_index_host }}'
          INDEX_HOST_SPARSE: '${{ inputs.sparse_index_host }}'

  # rest_asyncio:
  #   name: rest_asyncio ${{ matrix.python_version }}
  #   runs-on: ubuntu-latest
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       python_version: ${{ fromJson(inputs.python_versions_json) }}
  #       split_group_to_run: [4, 5]
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Setup Poetry
  #       uses: ./.github/actions/setup-poetry
  #       with:
  #         include_asyncio: true
  #         include_grpc: false
  #         python_version: '${{ matrix.python_version }}'
  #     - uses: ./.github/actions/run-integration-test
  #       with:
  #         encrypted_project_api_key: '${{ inputs.encrypted_project_api_key }}'
  #         encryption_key: '${{ secrets.FERNET_ENCRYPTION_KEY }}'
  #         test_suite: 'tests/integration/rest_asyncio'
  #         total_num_split_groups: 20
  #         durations_file: '.durations_rest_asyncio'
  #         split_group_to_run: ${{ matrix.split_group_to_run }}
  #         PINECONE_CLIENT_ID: ${{ secrets.PINECONE_SERVICE_ACCOUNT_CLIENT_ID }}
  #         PINECONE_CLIENT_SECRET: ${{ secrets.PINECONE_SERVICE_ACCOUNT_CLIENT_SECRET }}
  #         INDEX_HOST_DENSE: '${{ inputs.dense_index_host }}'
  #         INDEX_HOST_SPARSE: '${{ inputs.sparse_index_host }}'

  grpc:
    name: grpc ${{ matrix.python_version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python_version: ${{ fromJson(inputs.python_versions_json) }}
        split_group_to_run: [1, 2, 3]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Poetry
        uses: ./.github/actions/setup-poetry
        with:
          include_asyncio: false
          include_grpc: true
          python_version: '${{ matrix.python_version }}'
      - uses: ./.github/actions/run-integration-test
        with:
          encrypted_project_api_key: '${{ inputs.encrypted_project_api_key }}'
          encryption_key: '${{ secrets.FERNET_ENCRYPTION_KEY }}'
          test_suite: 'tests/integration/grpc'
          total_num_split_groups: 3
          durations_file: '.durations_grpc'
          split_group_to_run: ${{ matrix.split_group_to_run }}
          PINECONE_CLIENT_ID: ${{ secrets.PINECONE_SERVICE_ACCOUNT_CLIENT_ID }}
          PINECONE_CLIENT_SECRET: ${{ secrets.PINECONE_SERVICE_ACCOUNT_CLIENT_SECRET }}
          INDEX_HOST_DENSE: '${{ inputs.dense_index_host }}'
          INDEX_HOST_SPARSE: '${{ inputs.sparse_index_host }}'
