name: Dependency Testing (GRPC)

on:
  workflow_call:
    inputs:
        index_name:
          required: true
          type: string
        encrypted_project_api_key:
          required: true
          type: string

jobs:
  dependency-matrix-grpc:
    name: GRPC py3.10/py3.10
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python_version:
          - '3.10'
          - "3.10"
        grpcio_version:
          - 1.44.0
          # - 1.46.5
          # - 1.47.5
          # - 1.48.2
          # - 1.49.1
          - 1.50.0
          # - 1.51.3
          # - 1.53.2
          # - 1.54.3
          # - 1.55.3
          # - 1.56.2
          # - 1.57.0
          # - 1.58.0
          # - 1.59.3
          - 1.60.0
        protobuf_version:
          - 5.29.5
        googleapis_common_protos_version:
          - 1.66.0
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/secret-decrypt
        id: decrypt-secret
        with:
          encryption_key: '${{ secrets.FERNET_ENCRYPTION_KEY }}'
          encrypted_secret: ${{ inputs.encrypted_project_api_key }}
      - uses: ./.github/actions/test-dependency-grpc
        with:
          python_version: '${{ matrix.python_version }}'
          index_name: '${{ inputs.index_name }}'
          PINECONE_API_KEY: '${{ steps.decrypt-secret.outputs.decrypted_secret }}'
          PINECONE_ADDITIONAL_HEADERS: '{"sdk-test-suite": "pinecone-python-client"}'
          grpcio_version: '${{ matrix.grpcio_version }}'
          protobuf_version: '${{ matrix.protobuf_version }}'
          googleapis_common_protos_version: '${{ matrix.googleapis_common_protos_version }}'

  dependency-matrix-grpc-312:
    name: GRPC py3.11/py3.12
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python_version:
          - 3.11
          - 3.12
        grpcio_version:
          - 1.59.3
          - 1.60.0
        protobuf_version:
          - 5.29.5
        googleapis_common_protos_version:
          - 1.66.0
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/secret-decrypt
        id: decrypt-secret
        with:
          encryption_key: '${{ secrets.FERNET_ENCRYPTION_KEY }}'
          encrypted_secret: ${{ inputs.encrypted_project_api_key }}
      - uses: ./.github/actions/test-dependency-grpc
        with:
          python_version: '${{ matrix.python_version }}'
          index_name: '${{ inputs.index_name }}'
          PINECONE_API_KEY: '${{ steps.decrypt-secret.outputs.decrypted_secret }}'
          PINECONE_ADDITIONAL_HEADERS: '{"sdk-test-suite": "pinecone-python-client"}'
          grpcio_version: '${{ matrix.grpcio_version }}'
          protobuf_version: '${{ matrix.protobuf_version }}'
          googleapis_common_protos_version: '${{ matrix.googleapis_common_protos_version }}'


  dependency-matrix-grpc-313:
    name: GRPC py3.13
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python_version:
          - 3.13
        grpcio_version:
          - 1.68.0
        protobuf_version:
          - 5.29.5
        googleapis_common_protos_version:
          - 1.66.0
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/secret-decrypt
        id: decrypt-secret
        with:
          encryption_key: '${{ secrets.FERNET_ENCRYPTION_KEY }}'
          encrypted_secret: ${{ inputs.encrypted_project_api_key }}
      - uses: ./.github/actions/test-dependency-grpc
        with:
          python_version: '${{ matrix.python_version }}'
          index_name: '${{ inputs.index_name }}'
          PINECONE_API_KEY: '${{ steps.decrypt-secret.outputs.decrypted_secret }}'
          PINECONE_ADDITIONAL_HEADERS: '{"sdk-test-suite": "pinecone-python-client"}'
          grpcio_version: '${{ matrix.grpcio_version }}'
          protobuf_version: '${{ matrix.protobuf_version }}'
          googleapis_common_protos_version: '${{ matrix.googleapis_common_protos_version }}'
