
name: Dependency Testing (REST)

on:
  workflow_call:
    inputs:
      index_name:
        required: true
        type: string
      encrypted_project_api_key:
        required: true
        type: string

jobs:
  dependency-matrix-rest:
    name: Deps (REST)
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python_version:
          - '3.10'
          - 3.11
        urllib3_version:
          - 1.26.0
          # - 1.26.18
          # - 2.0.2
          - 2.2.1
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/secret-decrypt
        id: decrypt-secret
        with:
          encryption_key: '${{ secrets.FERNET_ENCRYPTION_KEY }}'
          encrypted_secret: ${{ inputs.encrypted_project_api_key }}
      - uses: ./.github/actions/test-dependency-rest
        with:
          python_version: '${{ matrix.python_version }}'
          index_name: '${{ inputs.index_name }}'
          PINECONE_API_KEY: '${{ steps.decrypt-secret.outputs.decrypted_secret }}'
          PINECONE_ADDITIONAL_HEADERS: '{"sdk-test-suite": "pinecone-python-client"}'
          urllib3_version: '${{ matrix.urllib3_version }}'


  dependency-matrix-rest-312:
    name: Deps (REST)
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python_version:
          - 3.12
        urllib3_version:
          - 1.26.5
          # - 1.26.18
          # - 2.0.2
          - 2.2.1
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/secret-decrypt
        id: decrypt-secret
        with:
          encryption_key: '${{ secrets.FERNET_ENCRYPTION_KEY }}'
          encrypted_secret: ${{ inputs.encrypted_project_api_key }}
      - uses: ./.github/actions/test-dependency-rest
        with:
          python_version: '${{ matrix.python_version }}'
          index_name: '${{ inputs.index_name }}'
          PINECONE_API_KEY: '${{ steps.decrypt-secret.outputs.decrypted_secret }}'
          PINECONE_ADDITIONAL_HEADERS: '{"sdk-test-suite": "pinecone-python-client"}'
          urllib3_version: '${{ matrix.urllib3_version }}'

  dependency-matrix-rest-313:
    name: Deps (REST)
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python_version:
          - 3.13
        urllib3_version:
          - 1.26.5
          # - 1.26.18
          # - 2.0.2
          - 2.2.1
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/secret-decrypt
        id: decrypt-secret
        with:
          encryption_key: '${{ secrets.FERNET_ENCRYPTION_KEY }}'
          encrypted_secret: ${{ inputs.encrypted_project_api_key }}
      - uses: ./.github/actions/test-dependency-rest
        with:
          python_version: '${{ matrix.python_version }}'
          index_name: '${{ inputs.index_name }}'
          PINECONE_API_KEY: '${{ steps.decrypt-secret.outputs.decrypted_secret }}'
          PINECONE_ADDITIONAL_HEADERS: '{"sdk-test-suite": "pinecone-python-client"}'
          urllib3_version: '${{ matrix.urllib3_version }}'
