name: "Integration Tests"
on:
  workflow_call:
    inputs:
      encrypted_project_api_key:
        required: true
        type: string
      python_versions_json:
        required: true
        type: string
      dense_index_host:
        required: true
        type: string
        description: 'The host of a dense index for db data tests'
      sparse_index_host:
        required: true
        type: string
        description: 'The host of the sparse index for db data tests'

permissions: {}

jobs:
  rest_sync:
    name: rest ${{ matrix.python_version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python_version: ${{ fromJson(inputs.python_versions_json) }}
        test_suite: [
          # Quick tests we can run together
          'tests/integration/rest_sync/admin tests/integration/rest_sync/inference tests/integration/rest_sync/plugins',

          # Control plane tests
          'tests/integration/rest_sync/db/control/pod',
          'tests/integration/rest_sync/db/control/serverless',
          'tests/integration/rest_sync/db/control/resources/index',
          # 'tests/integration/rest_sync/db/control/resources/collections', # These tests are slow, so disable for now

          # Data plane tests
          'tests/integration/rest_sync/db/data',
        ]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Poetry
        uses: ./.github/actions/setup-poetry
        with:
          include_asyncio: false
          include_grpc: false
          python_version: '${{ matrix.python_version }}'
      - uses: ./.github/actions/run-integration-test
        with:
          encrypted_project_api_key: '${{ inputs.encrypted_project_api_key }}'
          encryption_key: '${{ secrets.FERNET_ENCRYPTION_KEY }}'
          test_suite: '${{ matrix.test_suite }}'
          PINECONE_CLIENT_ID: ${{ secrets.PINECONE_SERVICE_ACCOUNT_CLIENT_ID }}
          PINECONE_CLIENT_SECRET: ${{ secrets.PINECONE_SERVICE_ACCOUNT_CLIENT_SECRET }}
          INDEX_HOST_DENSE: '${{ inputs.dense_index_host }}'
          INDEX_HOST_SPARSE: '${{ inputs.sparse_index_host }}'

  rest_asyncio:
    name: rest_asyncio ${{ matrix.python_version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python_version: ${{ fromJson(inputs.python_versions_json) }}
        test_suite: [
          'tests/integration/rest_asyncio/inference',
          'tests/integration/rest_asyncio/db/data',
          'tests/integration/rest_asyncio/db/control',
        ]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Poetry
        uses: ./.github/actions/setup-poetry
        with:
          include_asyncio: true
          include_grpc: false
          python_version: '${{ matrix.python_version }}'
      - uses: ./.github/actions/run-integration-test
        with:
          encrypted_project_api_key: '${{ inputs.encrypted_project_api_key }}'
          encryption_key: '${{ secrets.FERNET_ENCRYPTION_KEY }}'
          test_suite: '${{ matrix.test_suite }}'
          PINECONE_CLIENT_ID: ${{ secrets.PINECONE_SERVICE_ACCOUNT_CLIENT_ID }}
          PINECONE_CLIENT_SECRET: ${{ secrets.PINECONE_SERVICE_ACCOUNT_CLIENT_SECRET }}
          INDEX_HOST_DENSE: '${{ inputs.dense_index_host }}'
          INDEX_HOST_SPARSE: '${{ inputs.sparse_index_host }}'

  grpc:
    name: grpc ${{ matrix.python_version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python_version: ${{ fromJson(inputs.python_versions_json) }}
        test_suite: ['tests/integration/grpc']
    steps:
      - uses: actions/checkout@v4
      - name: Setup Poetry
        uses: ./.github/actions/setup-poetry
        with:
          include_asyncio: false
          include_grpc: true
          python_version: '${{ matrix.python_version }}'
      - uses: ./.github/actions/run-integration-test
        with:
          encrypted_project_api_key: '${{ inputs.encrypted_project_api_key }}'
          encryption_key: '${{ secrets.FERNET_ENCRYPTION_KEY }}'
          test_suite: '${{ matrix.test_suite }}'
          PINECONE_CLIENT_ID: ${{ secrets.PINECONE_SERVICE_ACCOUNT_CLIENT_ID }}
          PINECONE_CLIENT_SECRET: ${{ secrets.PINECONE_SERVICE_ACCOUNT_CLIENT_SECRET }}
          INDEX_HOST_DENSE: '${{ inputs.dense_index_host }}'
          INDEX_HOST_SPARSE: '${{ inputs.sparse_index_host }}'
