name: Testing

on:
  workflow_call: {}

jobs:
  units-no-grpc:
    name: Run tests (REST)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9, '3.10', 3.11]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Setup Poetry
        uses: ./.github/actions/setup-poetry
        with:
          include_grpc: false

      - name: Run unit tests
        run: poetry run pytest --cov=pinecone --timeout=120 tests/unit

  units-grpc:
    name: Run tests (GRPC)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9, '3.10', 3.11]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Setup Poetry
        uses: ./.github/actions/setup-poetry
        with:
          include_grpc: true

      - name: Run unit tests (GRPC)
        run: poetry run pytest --cov=pinecone --timeout=120 tests/unit_grpc

  package:
    name: Check packaging
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9, '3.10', 3.11]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Setup Poetry
        uses: ./.github/actions/setup-poetry

      - name: Package
        run: poetry build
